{{!-- * Setup the `main.handlebars` file 
 so it's able to be used by Handlebars.
* Setup the `index.handlebars` to have the template
 that Handlebars can render onto.
* Create a button in `index.handlebars`
 that will submit the user input into the database. --}}
{{>header}}
 <h1>Burgers!</h1>

<h2>Eat your burgers and collect them too!</h2>

<ul>
    
  {{#each burger}}
    {{#unless devoured}}
      {{> burger-block devoured=true}} //going to partials # signifies a helper
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="bn" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Fresh!
  </div>

  <button type="submit">Add Burger</button>
</form>
{{>footer}}