:root {
    align-items: center;
    text-align: center;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2 rem;
 }

#burgerPic {
    border-radius: 2rem;
}

.fresh{
   color:green;
   font-weight: bold;
   font-size: 2.25rem;
}

.devoured {
   color: rgb(243, 7, 7);
   font-size: 2.25rem;
   font-style: italic;
}

li {
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
}
    
h1 {
    text-shadow: pink;
    color: wheat;
}

  h1, h2 {
  align-items: center;
  text-align: center;
}
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    align-content: center;
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
    text-align: center;
    align-content: center;
  }
  
 button {
    margin: .25rem;
    padding: .25rem;
    border-radius: 2rem;
    border: .25rem;

}